# npm installed local dependencies
node_modules
src/**/*.js
test/**/*.js

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.DS_Store

# Build files
tsconfig.tsbuildinfo


.env
coverage/*
*.rgblock